rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      return request.auth != null &&
        request.auth.token.email.toLowerCase() in [
          'ashushk1249@gmail.com',
          'arvindyadav70075@gmail.com'
        ];
    }

    match /blogs/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /developers/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /projects/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /recent-projects/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}